.personal{
  background-color: #28AE60;
  color: #ffffff
}
.official{
  background-color: #9B51E0;
  color: #ffffff
}
.miscellaneous{
  background-color: #F2994B;
  color: #ffffff
}
.all-filter{
  background-color: #2D9CDB;
  color: #ffffff
}

